* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

.header {
  width: 100%;
  height: 25vh;
  background: linear-gradient(
    90deg,
    rgba(114, 57, 152, 0.8743872549019608) 0%,
    rgba(128, 34, 195, 0.7511379551820728) 100%
  );
}

.headerContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.headerIcon {
  background-image: url(images/logo-color.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 66vw;
  height: 50%;
}

.headerButton {
  font-size: 200%;
}

/*  */
/*  */
/* Squares Section */
/*  */
/*  */

.squares {
  padding-top: 5vh;
}

.boxContainer {
  display: flex;
  flex-flow: column wrap;
}

.box {
  width: 90%;
  height: 30vh;
  background: linear-gradient(
    90deg,
    rgba(114, 57, 152, 0.8743872549019608) 0%,
    rgba(128, 34, 195, 0.7511379551820728) 100%
  );
  display: flex;
  flex-flow: column wrap;
  /* padding: 15px 0; */
}

.box:nth-child(odd) {
  align-self: flex-end;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.box:nth-child(even) {
  align-self: flex-start;
}

.box:nth-child(1) {
  background: none;
  height: 15vh;
  margin-top: 0;
}

.box > .content > h1 {
  color: whitesmoke;
  width: 80%;
}

.box0 {
  position: relative;
}

.box0 > h1 {
  color: #9667cc;
  position: absolute;
  top: 5%;
  font-size: 2.5rem;
}

.box0 > a > button {
  position: absolute;
  bottom: 10%;
}

.content > a,
.box0 > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content > a > button,
.box0 > a > button {
  background-color: black;
  color: whitesmoke;
  width: 50%;
  height: 4vh;
  border: none;
}

.content > a > button:hover,
.box0 > a > button:hover,
.submitButton:hover {
  cursor: pointer;
  background-color: orange;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid black;
}

.content > i {
  font-size: 300%;
  color: white;
  position: absolute;
  top: 5%;
}

.content > h1 {
  font-size: 1.8rem;
  align-self: flex-start;
}

.content > a > button {
  position: absolute;
  bottom: 10%;
}

.box1 > .content > i,
.box3 > .content > i {
  /* align-self: flex-end; */
  text-align: center;
  right: 5%;
}

.box2 > .content > i,
.box4 > .content > i {
  text-align: center;
  left: 5%;
}

.box1 > .content > h1,
.box3 > .content > h1 {
  align-self: flex-end;
  text-align: end;
  position: absolute;
  right: 5%;
  top: 33%;
}

.box2 > .content > h1,
.box4 > .content > h1 {
  position: absolute;
  left: 5%;
  top: 33%;
}

/*  */
/*  */
/* Slider */
/*  */
/*  */

.slider-Slide {
  width: 100%;
  height: 50vh;
}

/*  */
/*  */
/* Forms */
/*  */
/*  */

.formSection {
  margin: 5vh 0;
}

.formSection > h1 {
  color: #9667cc;
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.inputField,
.submitButton {
  width: 80%;
  margin: 3px 0;
  height: 4vh;
  border: 1px solid black;
  margin-bottom: 2vh;
}

.textField {
  height: 25vh;
}

.submitButton {
  background-color: black;
  color: whitesmoke;
  border: none;
}

/*  */
/*  */
/* Footer */
/*  */
/*  */

.footer {
  background-color: #9667cc;
}

.footerContent {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
  padding: 5vh 0;
}

.footerContact {
  font-size: 1.5rem;
}

.footerLogo {
  width: 60%;
  margin: 5vh 0;
}

.footerIcons {
  font-size: 300%;
  margin: 5vh 0;
}

.footerIcons > a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 768px) {
  .box {
    width: 100%;
  }

  /* ?????????? */
  .box1 > .content > i,
  .box2 > .content > i,
  .box3 > .content > i,
  .box4 > .content > i {
    font-size: 500%;
    left: 25%;
    align-self: flex-start;
    text-align: start;
  }

  .box1 > .content > h1,
  .box2 > .content > h1,
  .box3 > .content > h1,
  .box4 > .content > h1 {
    align-self: flex-start;
    text-align: center;
    width: 100%;
    left: 0%;
  }

  .box0 > h1 {
    width: 100%;
    text-align: center;
  }

  .box0 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider-Slide {
    height: 80vh;
  }
}

@media screen and (min-width: 1366px) {
  .headerIcon {
    width: 50vw;
    background-position: left;
  }

  .box {
    max-width: 1366px;
  }

  .box:nth-child(odd),
  .box:nth-child(even) {
    align-self: center;
  }

  .box1 > .content > i,
  .box2 > .content > i,
  .box3 > .content > i,
  .box4 > .content > i {
    font-size: 500%;
    top: 20%;
    left: 5%;
    align-self: flex-start;
    text-align: start;
  }

  .content > button,
  .box0 > button,
  .submitButton {
    width: 20%;
  }

  .sliderContent {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider-Slide {
    width: 80%;
    height: 100vh;
  }

  .form {
    max-width: 1366px;
    margin: 0 auto;
  }

  .formSection > h1 {
    font-size: 3rem;
  }

  .inputField {
    width: 80%;
  }

  .footerLogo {
    width: 20%;
  }
}
